<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<div id="oc" style="width:600px;height:250px;"></div>
<div id="rate" style="width:600px;height:250px;"></div>
<div id="res" style="width:600px;height:250px;"></div>
<div id='ss' style="display: none;"></div>
<div id='sv' style="display: none;"></div>
<div id="hv" style="width:600px;height:250px;"></div>

<script src="plot.js"></script>
</body>


